[submodule "external/nanotron"]
	path = external/nanotron
	url = https://github.com/huggingface/nanotron.git
	branch = smollm3
[submodule "external/datatrove"]
	path = external/datatrove
	url = https://github.com/huggingface/datatrove.git
	branch = nouamane/avoid-s3
